*{
    box-sizing: border-box;
}
.container{
    padding-top: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "dis dis dis dis"
    "AC C div times"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal"
    "zero zero dot equal"
    ;
    .padButton{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        background-color: gray;
        color: white;
        border: 1px solid black;
        cursor: pointer;
        font-size: 20px;
    }
    .padButton:hover{
        border: 1px solid white;
        color: pink;
    }
    .dis{
        grid-area: dis;
        background-color: black;
        text-align: right; 
        font-size: 20px;
    }
    .dis input{
        width: 100%;
        color:greenyellow;text-align: right;
        font-size: 20px;
        padding: 5px 20px;
        background-color: black;
        border: none;
    }
    .dis input::placeholder{
        color: greenyellow
    }
    .zero{
        grid-area: zero;
    }
    .equal{
        grid-area: equal;
    }
    .dark-gray{
        background-color: #333;
    }
    .darkred{
        background-color: darkred;
    }
    .blue{
        background-color: blue;
    }
    .total{
        padding: 5px 20px;
        color: yellow;
    }
}